body {
  background-color: #f2dac4;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 1rem;
  color: #403323;
}

h1 {
  text-align: center;
}

input {
  padding: 0.5rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 30%;
  height: 20%;
  margin: 1rem;
  padding: 1rem;
  border: 3px solid #bf622c;
  border-radius: 15px;
  background-color: #d9965b;
}
